.all-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .btn{
    display: flex;
    align-items: center;
    height: 20px;
    color: white;
    background-color:var(--main-bg-color);
    margin: 10px;
    padding: 5px;
    border: 2px solid white;
}
.btn:hover{
    color: black;
}
